controller_manager:
  ros__parameters:
    update_rate: 100
    #use_sim_time: true

    diff_cont:
      type: diff_drive_controller/DiffDriveController

    joint_broad:
      type: joint_state_broadcaster/JointStateBroadcaster

diff_cont:
  ros__parameters:
    publish_rate: 100.0

    base_frame_id: base_link

    left_wheel_names: ['banhtrai']
    right_wheel_names: ['banhphai']

    cmd_vel_topic: /cmd_vel
    wheel_separation: 0.2025
    wheel_radius: 0.034
    open_loop: false
    position_feedback: false
    use_stamped_vel: true
  # Nhận vận tốc từ cmd_vel (linear.x và angular.z)
    cmd_vel_timeout: 0.5  # Thời gian chờ cho cmd_vel
    publish_limited_velocity: false  # Không giới hạn vận tốc khi phát

    # Các tham số khác có thể bỏ qua nếu không cần giới hạn
    linear.x.has_velocity_limits: false  # Không giới hạn vận tốc tuyến tính
    angular.z.has_velocity_limits: false  # Không giới hạn vận tốc góc