controller_manager:
  ros__parameters:
    update_rate: 30
    #use_sim_time: true

    diff_cont:
      type: diff_drive_controller/DiffDriveController

    joint_broad:
      type: joint_state_broadcaster/JointStateBroadcaster

diff_cont:
  ros__parameters:
    publish_rate: 30.0

    base_frame_id: base_link
    odom_frame_id: odom          # <--- thêm
    enable_odom_tf: true         # <--- thêm (nếu plugin hỗ trợ)
    publish_odom: true           # <--- thêm (tuỳ version diff_drive_controller)

    left_wheel_names: ['banhtrai']
    right_wheel_names: ['banhphai']

    #cmd_vel_topic: /cmd_vel
    wheel_separation: 0.2025
    wheel_radius: 0.0325
    open_loop: false
    position_feedback: true
    #use_stamped_vel: true
  # Nhận vận tốc từ cmd_vel (linear.x và angular.z)
    cmd_vel_timeout: 0.2  # Thời gian chờ cho cmd_vel
    publish_limited_velocity: true  # Không giới hạn vận tốc khi phát

    linear:
      x:
        has_velocity_limits: true
        max_velocity: 0.1
        min_velocity: -0.1
        has_acceleration_limits: true
        max_acceleration: 0.1
        min_acceleration: -0.1
        has_jerk_limits: false
    angular:
      z:
        has_velocity_limits: true
        max_velocity: 0.1
        min_velocity: -0.1
        has_acceleration_limits: true
        max_acceleration: 0.8
        min_acceleration: -0.8
        has_jerk_limits: false