<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ROS2 CONTROL CONFIG FOR REAL ROBOT USING DIFFDRIVE ARDUINO -->
  <xacro:macro name="ros2_control_block" params="">

    <ros2_control name="RealRobot" type="system">

      <hardware>
        <plugin>stm32_diff_drive_hardware/STM32DiffDriveHardware</plugin>
        <param name="left_wheel_name">banhtrai</param>
        <param name="right_wheel_name">banhphai</param>
        <param name="wheel_radius">0.034</param>    
        <param name="wheel_separation">0.2025</param>
        <param name="loop_rate">30</param>
        <param name="device">/dev/ttyAMA0</param>
        <param name="baud_rate">115200</param>
        <param name="timeout">1000</param>
        <param name="enc_counts_per_rev">495</param>
      </hardware>

      <joint name="banhtrai">
        <command_interface name="velocity">
          <param name="min">-25</param>
          <param name="max">25</param>
        </command_interface>
        
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="banhphai">
        <command_interface name="velocity">
          <param name="min">-25</param>
          <param name="max">25</param>
        </command_interface>
        
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
